mixin pageScript(src, type)
  if type
    script(type=type src=assetUrl(src))
  else
    script(src=assetUrl(src))

mixin formScripts(pageScriptSrc, needsAxios)
  if needsAxios
    +pageScript('/assets/axios.min.js')
  +pageScript('/assets/notyf.min.js')
  +pageScript('/assets/notify.js')
  +pageScript('/assets/form-utils.js')
  +pageScript(`/assets/${pageScriptSrc}`)
