IMAGE_NAME=ghcr.io/rainboyoj/roj2:latest
JUDGE_SERVER_IMAGE_NAME=ghcr.io/rainboyoj/judge-server-cpp:latest
JUDGE_SERVER_CONFIG_PATH=./judge_server_config.json
JUDGE_SERVER_TESTDATA_DIR=./judge_server_testData
API_HOST_PORT=3300
